<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDI4hK0ZmXnsOAN0EL-_nfLz3zC6kUL-qM</string>
	<key>GCM_SENDER_ID</key>
	<string>569203130171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.univates.cityAlertMobile</string>
	<key>PROJECT_ID</key>
	<string>city-alert-api</string>
	<key>STORAGE_BUCKET</key>
	<string>city-alert-api.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569203130171:ios:723d6ef4d02eec5de6411e</string>
</dict>
</plist>